@mixin css3button($bgcolor, $border-color, $text-color, $hover-bg-color, $active-bg-color) {
	background-color: $bgcolor;
	border: 1px solid $border-color;
	color: $text-color;
	&:hover {
		background-color: $hover-bg-color;
	}
	&:active {
		background-color: $active-bg-color;
		@include text-shadow(none);
	}
}