@import "compass";
@import "css3button";

a.button {
	display: block;
	width: 120px;
	height: 35px;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 10pt;
	float: left;
	margin: 10px 20px;
}
.whiteish {
	@include css3button(#F3F3F3, #ACACAC, #2B2C2B, #FFFFFF, #F9F9F9);
	@include box-shadow(inset 0px 0px 1px rgba(187,187,187,1));
	@include background-image(linear-gradient(45% , rgb(238,238,238) 0%, rgb(254,254,254) 100%));
	@include text-shadow(rgba(254,254,254,0.5) 0px 1px 0px);
	&:hover {
		@include background-image(linear-gradient(45%, rgb(246,246,246) 0%, rgb(254,254,254) 100%));
	}
	&:active {
		@include background-image(linear-gradient(45%, rgb(254,254,254) 0%, rgb(246,246,246) 100%));
	}
}
.something {
	@include css3button(#848484, #515151, #FFFFFF, #8E8E8E, #6D6D6D);
	@include box-shadow(inset 0px 0px 1px rgba(179,179,179,1));
	@include background-image(linear-gradient(45%, rgb(207,207,207) 0%, rgb(233,233,233) 100%));
	@include text-shadow(rgba(254,254,254,0.5) 0px 1px 0px);
	&:hover {
		@include background-image(linear-gradient(45% , rgb(219,219,219) 0%, rgb(243,243,243) 100%));
	}
	&:active {
		@include background-image(linear-gradient(45%, rgb(227,227,227) 0%, rgb(182,182,182) 100%));
	}
}