@import "compass";
@import "css3button";

a.button {
	display: block;
	width: 120px;
	height: 35px;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	text-decoration: none;
	font-family: 'Helvetica';
	font-weight: bold;
	font-size: 10pt;
	float: left;
	margin: 10px 20px;
}
.whiteish {
	@include css3button(#F3F3F3, #ACACAC, #2B2C2B, #FFFFFF, #F9F9F9);
}
.something {
	@include css3button(#D2D2D2, #8e8e8e, #545554, #DFDFDF, #A3A3A3);	
}